:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	width: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 3rem auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* place-items: center; */
	min-width: 320px;
	max-width: 800px;
	min-height: 100vh;
}

#root {
	width: 100%;
  margin-bottom: 3rem;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.navbar {
	background-color: #333;
	color: white;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.navbar-content {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-content h1 {
	margin: 0 1rem;
	font-size: 1.5rem;
}

.navbar-content a {
	color: white;
	text-decoration: none;
	margin: 0 1rem;
}

.navbar-content a:hover {
	text-decoration: underline;
}

.hero {
	background-color: #444;
	color: white;
	text-align: center;
	min-width: 320px;
	max-width: 800px;
}

.hero span {
	display: block;
	font-size: 2.5rem;
	margin: 2.5rem 0 0;
	padding: 2rem;
}

.hero p {
	font-size: 1.2rem;
	margin: 1rem 0;
	padding: 1rem;
}

.login {
	background-color: #444;
	color: white;
	text-align: center;
	min-width: 320px;
	max-width: 800px;
}

.login span {
	display: block;
	font-size: 2.5rem;
	margin: 2.5rem 0 0;
	padding: 2rem;
}

.features {
	padding: 1rem;
}

.features h2 {
	font-size: 1.5rem;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.feature-card {
	background-color: #555;
	border-radius: 8px;
	padding: 1rem;
	margin: 1rem;
	color: white;
}

.feature-icon-title {
	display: flex;
	align-items: center;
}

.feature-icon-title img {
	width: 24px;
	height: 24px;
	margin-right: 0.5rem;
}

.feature-icon-title h3 {
	margin: 0;
}

.feature-card p {
	margin: 0.5rem 0 0 0;
}

.footer {
	color: white;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
  width: 200px;
  height: 0.5rem;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 1rem 1rem 0 0;
}

.footer h1 {
	margin: 0;
	font-size: 1.5rem;
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
	.navbar-content h1 {
		margin: 0.5rem 0;
	}
	.navbar-content a {
		margin: 0.5rem;
	}
  .hero {
    padding: 1rem;
    margin: 0 auto;
  }
	.hero span {
		font-size: 2rem;
	}
	.hero p {
		font-size: 1rem;
	}
  .login {
    padding: 1rem;
    margin: 0 auto;
  }
	.login span {
		font-size: 2rem;
	}
	.features h2 {
		font-size: 1.2rem;
	}
	.feature-card {
		padding: 0.5rem;
		margin: 0.5rem;
	}
	.feature-icon-title img {
		width: 20px;
		height: 20px;
	}
	.feature-icon-title h3 {
		font-size: 1.2rem;
	}
	.footer h1 {
		font-size: 1.2rem;
	}
}
